#container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#form{
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
}

#form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

button{
    padding: 10px;
}

#moviecards{
    height: 600px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: flex-start;
    overflow-y: auto;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.17) 0px 4px 6px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 290px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: white;
}

.card img{
    height: 190px;
    width: 100%;
    object-fit: cover;
}